<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :c_name %>
    <%= form.text_field :c_name, id: :company_c_name, required: true %>
  </div>

  <div class="field">
    <%= form.label :c_location %>
    <%= form.text_field :c_location, id: :company_c_location, required: true %>
  </div>

  <div class="field">
    <%= form.label :c_email %>
    <%= form.text_field :c_email, id: :company_c_email, required: true %>
  </div>

  <div class="field">
    <%= form.label :c_password %>
    <%= form.text_field :c_password, id: :company_c_password, required: true %>
  </div>

  <div class="field">
    <%= form.label :c_location %>
    <%= form.text_field :c_location, id: :company_c_location, required: true %>
  </div>

  <div class="field">
    <%= form.label :c_number %>
    <%= form.phone_field :c_number, id: :company_c_number, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
