<p id="notice"><%= notice %></p>

<p>
  <strong>C name:</strong>
  <%= @company.c_name %>
</p>

<p>
  <strong>C location:</strong>
  <%= @company.c_location %>
</p>

<p>
  <strong>C email:</strong>
  <%= @company.c_email %>
</p>

<p>
  <strong>C password:</strong>
  <%= @company.c_password %>
</p>

<p>
  <strong>C location:</strong>
  <%= @company.c_location %>
</p>

<p>
  <strong>C contact number:</strong>
  <%= @company.c_contact_number %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
