<!DOCTYPE html>
<html>
  <head>
    <title>MyDestiny</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% flash.each do |key, value| %>

      <% if key == 'alert'%>
          <%= content_tag(:div, value, class: 'rm-border alert alert-warning') %>
      <% elsif key == 'notice' %>
          <%= content_tag(:div, value, class: 'rm-border alert alert-success') %>
      <% else %>
          <%= content_tag(:div, value, class: "rm-border alert alert-#{key}") %>
      <% end %>
  <% end %>
    <%= yield %>
  </body>
</html>
